In [1]:

# Lambda with map(), filter(), reduce()
# 1. map(): when you want to apply a function element of an iterable and get a transformed iterable as a result.
#2. filter(): Use filter when you want to selectively induce or exclude elements from an based on a condition.
#3. reduce(): Use reduce when you want to successively apply a binary to the items of an iterable, reducing it to a single accumulated result

In [13]:
num = [1,2,4,5,7,10]
num

[1, 2, 4, 5, 7, 10]

In [14]:
def sq(x):
    return x**x

sq(3)

27

In [15]:
#map(function, iterable object)

num = list(map(lambda x:x**2, num))
num

[1, 4, 16, 25, 49, 100]

In [16]:
#filter(function, iterable object)
num = list(filter(lambda num: num%2==1, num))

num

[1, 25, 49]

In [17]:
from functools import reduce
reduce(lambda a,b: a+b, num)

75

In [18]:
sum(num)

75