In [1]:
#Commonly used Built-in Functions in Python

In [2]:
# 1. print(): Outputs text or variable to the console.
print("Data Science!")

Data Science!

In [4]:
# 2. len(): Returns the length of an object
my_list =[1,2,3,4,5]
length = len(my_list)

In [5]:
length

5

In [8]:
# 3. input(): Reads input from user

user_input = input("Enter something; ")

In [9]:
user_input

'Gbs soft'

In [12]:
# 4. type(): Returns the type of an object.
x = 5
type_of_x = type(x)
type_of_x

int

In [18]:
# 5. int (), float(), str(): Converts value to integers, floats or strings.
num_str = "42"
num_int = int(num_str)
num_int

42

In [20]:
float(num_int)

42.0

In [21]:
# 6. range (): Generates a sequence of numbers.
numbers = list(range(1,6)) #creates a list (1,2,3,4,5)
numbers

[1, 2, 3, 4, 5]

In [22]:
# 7. sum(): Returns the sum of all elements in an iterable.
my_list = [1,2,3,4,5]
total = sum(my_list)
total

15

In [23]:
# 8. max(), min(): Returns the maximum or minimum value from an iterable.
numbers = [3,1,4,1,5,9,2]
max_val = max(numbers)
min_val = min(numbers)

In [24]:
max_val

9

In [25]:
min_val

1

In [26]:
# 9. abs(): Returns the absolute value if a number.
absolute_value = abs(-10)
absolute_value

10

In [27]:
# 10. round(): Round a floating - point number to a specified number of decimal.
round_num = round(3.14159, 2) #round to decimal places
round_num

3.14

In [28]:
# 11. sorted(): Returns a new sorted list from the elements of an iterable.
numbers = [3,1,4,1,5,9,2]
sorted_numbers = sorted(numbers)
sorted_numbers

[1, 1, 2, 3, 4, 5, 9]

In [29]:
# 12. any(), all(): Returns True if any of all elements in an iterable are true.
bool_list = [True, False, True, True, False]
any_true =  any(bool_list)
all_true = all (bool_list)

In [30]:
any_true

True

In [31]:
all_true

False

In [32]:
# 13. str.join(): Joins elements of an iterable with a string as a separator.

my_list = ["apple", "banana", "orange"]
joined_str = ",".join(my_list)
joined_str

'apple,banana,orange'

In [33]:
# 14. str.lower(), str.upper(): converts a string to lowercase or uppercase.
my_string = "Hello, World!"
lower_case = my_string.lower()
upper_case = my_string.upper()

In [34]:
lower_case

'hello, world!'

In [35]:
upper_case

'HELLO, WORLD!'

In [36]:
 # 15. list(), tuple(): Convert an iterable to a list or tuple.upper_case 
my_tuple = (1,2,3)
tuple_to_list = list(my_tuple)
tuple_to_list

[1, 2, 3]

In [37]:
#16. dict(): Creates a dictionary
my_dict = dict(name= "Jogn", age = 25)
my_dict

{'name': 'Jogn', 'age': 25}

In [39]:
# 17. set(): Creates a set
my_set = set([1,2,3,4])
my_set

{1, 2, 3, 4}

In [42]:
# 18. enumerate(): Returns tuples with the index and corresponding element.
my_list = ["a", "b", "c"]
for index, value in enumerate(my_list):
    print(index, value)

0 a
1 b
2 c

In [46]:
# 19. zip(): Combines two or more iterables element-wise.
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 22]
zipped_data = zip(names, ages)

In [47]:
zipped_data

In [48]:
type(zipped_data)

zip

In [49]:
# 21. reversed(): Returns a reverse iterator of sequence.
my_list=[1,2,3]
reversed_list = list(reversed(my_list))
reversed_list

[3, 2, 1]

In [50]:
#22. sum() (with start argument): Returns the sum of an iterable with an optional stating value.
numbers = [1,2,3]
total = sum(numbers, 10) # sum starting from 10

In [51]:
total

16

In [52]:
#23. abs() (for complex number ): Returns the magnitude of a complex number.
#The magnitude of complex number i s the distance from the origin (0,0) to the point representing the complex number in the complex plane. For a complex number (a+bi). Where (a) is the real part and (b) is the imaginary part, the magnitude (or modulus )is given by the formula:

#[ |a +bi| = \sqrt{a^2 + b^2}]

#In other word, it's the square root of the sum of the squares of the real and imaginary parts. This magnitude represents the length of the vector in the complex plane.

In [54]:
complex_num = 3+4j
magnitude = abs(complex_num)

In [55]:
magnitude

5.0

In [57]:
#24. slice(): Creates a slice object that can be used to slice sequences like lists and strings.

my_list = [1,2,3,4,5]
my_slice = slice (1,4)
slice_list = my_list[my_slice]
slice_list

[2, 3, 4]

In [62]:
# 25. chr(), ord() (extended usage): Handling Unicode characters and code points.

euro_symbol = chr(8364) #returns ''
code_point = ord('€') #returns 8364

In [61]:
euro_symbol

'€'

In [63]:
code_point

8364